/*Add padding and margin to space out the page.
Make the font larger too.*/
body {
	margin: 1%;
	padding: 1%;
	font-size: 100%;
}

header {
    text-align: center;
}

/*Make the h1 heading bigger with a bold font*/
header .head-title {
    font-size: 3em;
    font-weight: bold;
    padding-top: 30px;
}

header .head-title-2 {
    font-size: 2em;
    font-weight: bold;
}

header img {
    width: 70px;
    height: 70px;
    text-align: center;
}

h1 {
	font-size: 2em; 
	font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 10px;
    padding-left: 10px;
}

/*Make the h2 heading*/
h2 {
	font-size: 1.3em; 
	font-weight: bold;
    padding-top: 30px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/*Style the images*/
img {
    height: 200px;
    width: 200px;
    border: 3px solid transparent;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;    
    border-radius: 20px;
    margin: 10px;
}

.settohover:hover {
    opacity: 0.3;
}

/* Add borders around the main components and some
space too*/
header, nav, main, h1, footer {
	border: 2px solid transparent;
	margin: 10px 0;
}

/* Change the styling for all of the list 
items in the nav section */
nav {
    padding-top: 70px;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav li {
	background-color: rgb(205, 0, 0);
	padding: 10px 5px;
	width: 15.45%;
	border: 1px solid transparent;
	display: table-cell;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* Change the styling for all titles of
the list items in the nav section */
nav .active a {
    color: yellow;
}

nav a {
    color: white;
    font-weight: bold;
}

/* Change to paragraphs */
main p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    padding: 10px 15px;
    background: yellow;
    border: 2px solid black;
}

/* Changes to footer */
footer {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/* No changes to link */
/* Source: https://www.w3schools.com/css/css_link.asp */
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}